.header{
  padding: 36px 0; 
  background-color: #E6E6E6;
   &__nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   &__menu{
     display: flex;
     column-gap: 30px;
     list-style: none;
      &-link{
       font-size: 16px;
       line-height: 16px;
       text-transform: uppercase;
       color: #4E4E4E;
        &--active{
          color: #1ABB9C;
        }
      }
   }
}

